### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.iml
/.idea/.gitignore
/.idea/libraries/antlr_runtime_4_13_2.xml
/esempio.fool
/gen/compiler/FOOL.interp
/gen/compiler/FOOL.tokens
/gen/compiler/FOOLBaseListener.java
/gen/compiler/FOOLBaseVisitor.java
/gen/compiler/FOOLLexer.interp
/gen/compiler/FOOLLexer.java
/gen/compiler/FOOLLexer.tokens
/gen/compiler/FOOLListener.java
/gen/compiler/FOOLParser.java
/gen/compiler/FOOLVisitor.java
/.idea/misc.xml
/.idea/modules.xml
/ProgettoLCMC.iml
/prova.fool.asm
/prova2.fool.asm
/prova3.fool.asm
/quicksort.fool
/gen/svm/SVM.interp
/gen/svm/SVM.tokens
/gen/svm/SVMBaseListener.java
/gen/svm/SVMBaseVisitor.java
/gen/svm/SVMLexer.interp
/gen/svm/SVMLexer.java
/gen/svm/SVMLexer.tokens
/gen/svm/SVMListener.java
/gen/svm/SVMParser.java
/gen/svm/SVMVisitor.java
/.idea/vcs.xml
